{% extends 'blog/base.html' %}
{% block title %}All Posts{% endblock %}
{% block content %}
    <h2>All Blog Posts</h2>
    <ul class="list-group">
        {% for post in posts %}
            <li class="list-group-item">
                <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
            </li>
        {% empty %}
            <li class="list-group-item">No posts yet.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'post_create' %}" class="btn btn-primary mt-3">+ Create New Post</a>
{% endblock %}
